/*--------------------------------------------------------------
13.6 Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #ddd;
}

.site-footer .wrap {
  padding: 0;
  max-width: 100%;
}

.site-footer .widget-area {
  padding: 0;
}

/* Site info */
.site-info {
  font-size: 14px;
  font-size: .875rem;
  margin-bottom: 1em;
  text-align: center;
  width: 100%;
}

.site-info a {
  color: #666;
}

.site-info .sep {
  margin: 0;
  display: block;
  visibility: hidden;
  height: 0;
  width: 100%;
}


// BLOCKS


.footer-widget-1,
.footer-widget-2{
  color: #fff;
  padding-top: 30px;
  text-align: center;
}


.footer-widget-1 h2.widget-title,
.footer-widget-2 h2.widget-title {
  color: #fff;
  font-size: 20px;
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.footer-widget-1 h2.widget-title:after,
.footer-widget-2 h2.widget-title:after {
  background: rgba(255,255,255,1);
  content: "";
  display: block;
  height: .1rem;
  margin: 1.4rem auto 1.2rem;
  width: 6.5rem;
}
.footer-widget-1 .widget a,
.footer-widget-2 .widget a{
  color: #fff;
}

/* SOCIAL NAVIGATION */


.social-navigation {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 1em;
}

.social-navigation ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

.social-navigation li {
  display: inline;
}

.social-navigation a {
  background-color: #767676;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  height: 40px;
  margin: 0 1em .5em 0;
  text-align: center;
  width: 40px;
}

.social-navigation a:hover, .social-navigation a:focus {
  background-color: #333;
}

.social-navigation .icon {
  height: 16px;
  top: 12px;
  width: 16px;
  vertical-align: top;
}