.wcorg-sponsors {
  display: flex;

}

.wcorg-sponsor {
  width: 50% ;
}

.sponsors-gold a {
  border-color: #C9AE5D;
}

.sponsors-silver a {
  border-color: #c0c0c0;
}

.sponsors-bronze a {
  border-color: #CD7F32;
}

